.jumbotron {
  background-color: coral;
  font-weight: bold;
  padding-left: 15px;
  margin-top: 50px; }

.carousel {
  margin-top: 55px; }

footer {
  background-color: coral;
  padding: 10px 10px 0 10px;
  margin-bottom: 0px;
  margin-top: 20px; }

.card-info {
  flex: 1 250px;
  padding: 2px 10px 2px 10px;
  margin-top: 5px; }

.card-hotel {
  flex: 1 250px;
  /*padding: 2px 0px 2px 0px;*/
  margin-top: 20px; }

.card-btn {
  width: 100%;
  border-radius: 0px; }

.card-btn-icon {
  padding-left: 10px; }

.card-img {
  height: 150px; }

.footer-address-icon {
  padding-right: 10px; }

.img-banner {
  width: 100%;
  height: 400px; }

.tab-content {
  margin-top: 10px; }
