//$rojo: #ff7f50;
//$rojo: #ff9c9c; actual
$verde: #c4ffcc;
$rojo: #ff9c9c;
$azul: #cce2fc;

@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin padding($top, $left, $bottom, $right) {
  padding-top: $top;
  padding-left: $left;
  padding-bottom: $bottom;
  padding-right: $right;
}

@mixin fondo($color) {
  background-color: $color;
}

.jumbotron {
  @include fondo($rojo);
  font-weight: bold;
  @include padding(4rem, 15px, 4rem, 0px);
  @include margenes(50px, 20px);

}

.carousel {
  @include margenes(55px, 0px);

}

footer {
  @include fondo($rojo);
  @include padding(10px, 10px, 0px, 10px);
  @include margenes(20px, 0px);

}

.card-info {
  flex: 1 250px;
  @include padding(2px, 10px, 2px, 10px);
  @include margenes(5px, 0px);
}

.card-hotel {
  flex: 1 250px;
  /*padding: 2px 0px 2px 0px;*/
  @include margenes(20px, opx);
}

.card-btn {
  width: 100%;
  border-radius: 0px;

}

.card-btn-icon {
  @include padding(0px, 10px, 0px, 0px);
}

.card-img {
  height: 150px;
}

.footer-address-icon {
  @include padding(0px, 0px, 0px, 10px);
}

.img-banner {
  width: 100%;
  height: 400px;
}

.tab-content {
  @include margenes(10px, 0px);
}

.breadcrumb {
  @include fondo($verde);
}

.card-footer {
  @include fondo($azul);

}