//@rojo: #ff7f50;
@verde: #c4ffcc;
@rojo: #ff9c9c;
@azul: #cce2fc;

.margenes(@top: 0px; @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.padding(@top, @left, @bottom, @right){
  padding-top: @top;
  padding-left: @left;
  padding-bottom: @bottom;
  padding-right: @right;
}

.fondo(@color){
  background-color: @color;
}

.jumbotron{
  .fondo(@rojo);
  font-weight: bold;
  .padding(4rem, 15px, 4rem, 0px);
  .margenes(50px, 20px);

}
.carousel{
  .margenes(55px, 0px);

}

footer{
  .fondo(@rojo);
  .padding(10px, 10px, 0px, 10px);
  .margenes(20px, 0px);

}
.card-info{
  flex: 1 250px;
  .padding(2px, 10px, 2px, 10px);
  .margenes(5px, 0px);
}
.card-hotel{
  flex: 1 250px;
  .margenes(20px, opx);
}

.card-btn{
  width: 100%;
  border-radius: 0px;

}
.card-btn-icon{
  .padding(0px, 10px, 0px, 0px);
}
.card-img{
  height: 150px;
}
.footer-address-icon{
  .padding(0px, 0px, 0px, 10px);
}
.img-banner{
  width: 100%;
  height: 400px;
}

.tab-content{
  .margenes(10px, 0px);
}

.breadcrumb {
  .fondo(@verde);
}

.card-footer {
  .fondo(@azul);
}