.jumbotron {
  background-color: #ff9c9c;
  font-weight: bold;
  padding-top: 4rem;
  padding-left: 15px;
  padding-bottom: 4rem;
  padding-right: 0px;
  margin-top: 50px;
  margin-bottom: 20px; }

.carousel {
  margin-top: 55px;
  margin-bottom: 0px; }

footer {
  background-color: #ff9c9c;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-info {
  flex: 1 250px;
  padding-top: 2px;
  padding-left: 10px;
  padding-bottom: 2px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 250px;
  margin-top: 20px;
  margin-bottom: opx; }

.card-btn {
  width: 100%;
  border-radius: 0px; }

.card-btn-icon {
  padding-top: 0px;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-right: 0px; }

.card-img {
  height: 150px; }

.footer-address-icon {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 10px; }

.img-banner {
  width: 100%;
  height: 400px; }

.tab-content {
  margin-top: 10px;
  margin-bottom: 0px; }

.breadcrumb {
  background-color: #c4ffcc; }

.card-footer {
  background-color: #cce2fc; }
